@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Jost:wght@400&display=swap");

:root {
  --background: #f6ece1;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

h1 {
  @apply font-jomolhari text-[2.2rem] font-normal text-black md:text-[2rem] lg:text-[2.5rem];
}

h2 {
  @apply font-jost text-[1.8rem] font-normal text-black md:text-[1.6rem] lg:text-[2rem];
}

h3 {
  @apply font-jost uppercase text-[1.5rem] font-normal text-black md:text-[1.3rem] lg:text-[1.8rem];
}

p {
  @apply font-jost leading-[1.5em] text-[1rem] text-black tracking-[0.02em] md:text-[1.1rem] lg:text-[1.2rem];
}

a {
  @apply cursor-pointer;
}

Link {
  @apply cursor-pointer;
}
