@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45, 68%, 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background: hsl(var(--background));
  }

  /* Headings */
  h1 {
    @apply font-jomolhari text-[2.2rem] font-normal text-black md:text-[2rem] lg:text-[2.5rem] md:mb-3;
  }
  h2 {
    @apply font-jost text-[1.8rem] font-normal text-black md:text-[1.6rem] lg:text-[2rem] py-1;
  }
  h3 {
    @apply font-jost uppercase text-[1rem] font-normal text-black md:text-[1rem] lg:text-[1rem] md:py-2;
  }
  /* Paragraphs */
  p {
    @apply font-jost leading-[1.5em] text-[1rem] text-black tracking-wider md:text-[1.1rem] lg:text-[1rem] text-left;
  }

  /* Links */

  a,
  Link {
    @apply cursor-pointer;
  }

  .small-screen-component {
    @apply block lg:hidden;
  }

  .medium-screen-component {
    @apply hidden md:block;
  }

  .large-screen-component {
    @apply hidden lg:block;
  }

  .container {
    @apply w-full;
  }
}

@layer components {
  img,
  .next-image {
    @apply rounded-lg;
  }

  .button-container {
    @apply flex flex-col md:flex-row gap-4 w-full mt-10;

    Button {
      @apply w-full;
    }
  }

  .custom-pagination {
    @apply flex justify-between items-center relative top-2.5 left-0 right-0 lg:mb-5 z-10 lg:py-5 md:py-2 md:mb-0 pointer-events-none border-t border-b border-black py-2 mb-0 !important;
  }

  .custom-bullet {
    @apply cursor-pointer flex-1 items-center pb-[24] md:pb-[40px] hover:bg-transparent justify-center lg:px-5 lg:pt-5 lg:pb-10  text-xs py-10 px-2.5 md:py-10 md:px-2.5 text-black md:text-base text-center bg-transparent rounded transition-all duration-300 ease-in-out pointer-events-auto !important;
  }

  .swiper-pagination-bullet-active.custom-bullet {
    @apply border-2 border-black !important;
  }
}

@layer utilities {
  .white-links {
    @apply font-jost text-[16px] text-white relative hover:text-white cursor-pointer transition-all ease-in-out inline-block before:transition-all before:ease-in-out before:duration-700 before:absolute before:bg-white before:origin-center before:h-[1px] before:w-0 hover:before:w-full hover:before:left-0 before:bottom-0;
  }

  .quote {
    @apply italic border-l border-black p-3 m-2;
    p {
      @apply text-customSienna;
    }
  }

  .para {
    @apply mb-2 md:mb-6;
  }

  .section-heading-left {
    @apply absolute left-0 top-1/2 transform -translate-y-1/2 block w-[20%] h-[0.06em] bg-black sm:w-[30%] md:w-[35%];
  }

  .section-heading-right {
    @apply absolute right-0 top-1/2 transform -translate-y-1/2 block w-[20%] h-[0.06em] bg-black sm:w-[30%] md:w-[35%];
  }

  .class-icon {
    @apply h-[24px] md:h-[40px] w-auto;
  }
}
